---
import Layout from '@/layouts/Layout.astro';
import Nosotros from '@/components/Nosotros.astro';
import Historia from '@/components/Historia.astro';
import Mision_Vision from '@/components/Mision_Vision.astro';

---

<Layout title="about">
	<main class="">
        <Nosotros/>
        <Historia/>
        <Mision_Vision/>
        
    </main>
</Layout>
