---
import Layout from '@/layouts/Layout.astro';
import Nosotros from '@/components/Nosotros.astro';
import Historia from '@/components/Historia.astro';
import Mision_Vision from '@/components/Mision_Vision.astro';
import DonSaSaa from '@/components/DonSaSaa.astro';
---

<Layout 
title="Nosotros - Don Sa Saa"
description="Conoce la historia de Don Sa Saa, La Asociación de ganadería Saavedra dedicada a la producción de queso huarochirano y yogurt de calidad"
keywords="Don Sa Saa, nosotros, historia, queso huarochirano, asociación de ganadería, Saavedra, productos lácteos"


>
	<main class="">
        <Nosotros/>
        <DonSaSaa/>
        <Historia/>
        <Mision_Vision/>
        
    </main>
</Layout>
