---
import Layout from '@/layouts/Layout.astro';
import MediodeContacto from '@/components/MediodeContacto.astro';
import Formulario from '@/components/Formulario.astro';

---

<Layout title="Contacto">
	<main >
        <MediodeContacto />
        <Formulario />
    </main>
</Layout>

