---
import Layout from '@/layouts/Layout.astro';
import MainVideo from '@/components/MainVideo.astro';
import Productos from '@/components/Productos.astro';
import Procesos from '@/components/Procesos.astro';
import Caracteristicas from '@/components/Caracteristicas.astro';


// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Home">
	<main>
        
        <MainVideo/>
        <Productos/>
        <Procesos/> 
        <Caracteristicas/> 
    </main>
</Layout>
