---
import Layout from '@/layouts/Layout.astro';
import MainVideo from '@/components/MainVideo.astro';
import Productos from '@/components/Productos.astro';
import Procesos from '@/components/Procesos.astro';
import ShowProducts from '@/components/ShowProducts.astro';
import Pastoreo from '@/components/Pastoreo.astro';

---

<Layout 
    title="Inicio"
    description="Don Sa Saa ofrece los mejores productos: queso huarohirano, queso pasteurizado, yogurt"  
    keywords="Don Sa Saa, queso huarochirano, yogurt, asociación de ganadería, Saavedra, productos lácteos"
    noindex={false}
>
	<main>
        
        <MainVideo/>
        <Productos/>
        <ShowProducts/>
        <Procesos/> 
        <Pastoreo/>
    </main>
</Layout>
