---
interface Props {
  href: string;
  class?: string;
  checkActive?: boolean;
}

const { href, class: className, checkActive = true, ...props } = Astro.props;
const { pathname } = Astro.url;
const isActive = checkActive && (href === pathname || href === pathname.replace(/\/$/, ''));
---

<a
  href={href}
  class:list={[
    className,
    { 'border-b-2 border-white': isActive },
    'hover:text-gray-500  text__glowing'
  ]}
  {...props}
>
  <slot />
</a>
