<div class="block md:hidden w-full h-full ">
  <picture class="w-full h-full relative">
    <source srcset="/images/vaca.webp" type="image/webp" />
    <source srcset="/images/vaca.png" type="image/png" />
    <img
      src="/images/vaca.png"
      alt="img-mobile"
      class="w-full h-full object-cover" 
      loading="lazy"
    />
  </picture>
</div>

